---
# Doc: https://github.com/redhat-plumbers-in-action/differential-shellcheck

name: Differential ShellCheck

on: # yamllint disable-line rule:truthy
  push: null
  pull_request: null

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    permissions:
      security-events: write

    steps:
      - name: Repository checkout
        # yamllint disable-line rule:line-length
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # @v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Differential ShellCheck
        # yamllint disable-line rule:line-length
        uses: redhat-plumbers-in-action/differential-shellcheck@d965e66ec0b3b2f821f75c8eff9b12442d9a7d1e #@v5.5.6
        with:
          severity: warning
          token: ${{ secrets.GITHUB_TOKEN }}
